<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="banner-text-container">
    <h1><%=@service.name%></h1>
    <p>Who is gonna be your <%=@service.name %> hero ?</p>
  </div>
</div>
<div class="headers d-flex">
  <h5>Name</h5>
  <h5>Rates</h5>
  <h5>Number of Reviews</h5>
  <h5>See avalabilities</h5>
</div>
<div class="user-listings">
</div>
</div>
