<div class="banner">
  <h1>Rent a Peer</h1>
  <h3>Catchy tagline</h3>
</div>
<div class="container">
  <div class="trending"></div>
  <%# simple_form_for %>
  <div class="services"></div>
  <div class="footer"></div>
</div>
