<div class="navbar"></div>
<div class="banner"></div>
<div class="container"></div>
  <div class="trending"></div>
  <div class="search"></div>
  <div class="services"></div>
  <div class="footer"></div>
