.big-text {
  font-size: 130px;
  font-weight:800;
  animation-delay: 1s;
}

// I think this is redundant but I'm leaving it here just in case
// .banner a {
//   display: inline-block;
//   background: #fff;
//   color: #36465d;
//   text-transform: uppercase;
//   padding: 15px;
//   text-decoration: none;
//   font-size: 40px;
//   transition: .3s;
// }
// .banner a:hover {
//   background: #333;
//   color: #fff;
//   padding: 15px 20px;
// }
