#editBannerModalRoot {
  position: absolute;
  top: 0;
  box-sizing: border-box;

  .modal-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-content {
      border-radius: 16px;
      background-color: white;
      width: 30%;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form-actions {
        display: flex;
        justify-content: space-between;
        width: 100%;

        input, button {
          background-color: rgb(200, 200, 200);
          border: none;
          padding: 5px 10px;
          border-radius: 16px;
          transition: 0.3s;

          &:hover {
            background-color: rgb(180, 180, 180);
            border-radius: 8px;
          }
        }
      }
    }
  }
}
