.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 15px;
}

.service-content {
  background-color: rgb(235, 235, 235);
  border-radius: 16px;
  padding: 20px 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .service-icon {
    text-align: center;
    font-size: 30px;
    border: solid 2px black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;

    i {
      margin: auto;
    }

    &:hover {
      border: 2px solid yellowgreen;
      box-shadow: 0 2px 2px yellowgreen;
      color: yellowgreen;
    }
  }
}
