.maintcontent {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.service-card {
  .service-icon {
    text-align: center;
    font-size: 40px;
    border: solid 1px black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  i {
    margin: auto;
  }
  }
}
