
.trendings {
  background: #ffffff;
  max-width: 260px;
  margin: 10px auto;
  padding: 5px;
  p {
    text-shadow: 1px 1px 2px gray;
    text-decoration: underline gray;
    font-family: monospace;
  }
  .trending-card {
    border: 1px solid gray;
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 10px;
    box-shadow: 10px 3px 3px gray;
  }
}

p {
  margin-bottom: 0.8em;
}

.card {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
  box-shadow: 3px 1px 1px gray;
  transition: ease 0,3s;
  .profile-picture {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 3px;
    .name-and-profile {
      padding-left: 10px;
    }
  }
  .link {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 20px;
  }
  &:hover {
    border: solid 2px blue;
    transform: scale(1.02);
  }
}
